#root{
    text-align: center;
}
body{
    text-align: center;
}
.container{
    height:100%;
    width: 40rem;
}
.screen{
    border-style: none;
}
.slideItem{
    align-self: center;
    width: 100%;
}
img{
    -webkit-user-drag: none;
}
iframe{
    -webkit-user-drag: none;
}
@media only screen and (max-width: 600px){
    .container{
        height:100%;
        width: 100%;
    }
}

@media only screen and (min-width: 600px){
    .container{
        height:100%;
        width: 40rem;
    }

}
@media only screen and (min-width: 1000px){
    .container{
        height:100%;
        width: 40rem;
    }

}

